*.pidb
*.suo
*.swp
*.userprefs
*.pubxml
.DS_Store
bin
build
BenchmarkDotNet.Artifacts
installer/macos/Pinta.dmg
installer/macos/package
installer/linux/pinta
obj
pinta.pc
publish
release
xdg/pinta.desktop
xdg/pinta.appdata.xml
.vs
.vscode

# Autotools ...
ABOUT-NLS
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.rpath
config.status
config.sub
configure
configure~
install-sh
Makefile
Makefile.in
m4
missing
po/*.gmo
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/quot.sed
po/remove-potcdate.sin
po/remove-potcdate.sed
po/Rules-quot
po/stamp-it
po/stamp-po
