*.pidb
*.suo
*.swp
*.userprefs
*.pubxml
.DS_Store
aclocal.m4
autom4te.cache
bin
compile
config.log
config.status
configure
install-sh
installer/macos/Pinta.app
installer/macos/Pinta.app.zip
installer/linux/pinta
intltool-extract.in
intltool-merge.in
intltool-update.in
Makefile
Makefile.in
missing
obj
pinta.pc
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it
xdg/pinta.desktop
xdg/pinta.appdata.xml
.vs
