*.pidb
*.suo
*.swp
*.userprefs
aclocal.m4
autom4te.cache
bin
compile
config.log
config.status
configure
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
Makefile
Makefile.in
missing
obj
pinta
pinta.pc
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it
xdg/pinta.desktop
.vs
