Source: pinta
Section: graphics
Priority: optional
Maintainer: Cameron White <cameronwhite91@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cli-common-dev (>= 0.5.7~)
Build-Depends-Indep: mono-devel (>= 2.4.3), mono-xbuild (>= 2.4.3), libgtk2.0-cil-dev, libglade2.0-cil-dev
Standards-Version: 3.9.2
Homepage: http://pinta-project.com/
Vcs-Git: git://github.com/PintaProject/Pinta.git
Vcs-Browser: https://github.com/PintaProject/Pinta

Package: pinta
Architecture: all
Depends: ${shlibs:Depends}, ${cli:Depends}, ${misc:Depends}, gnome-icon-theme
Description: Simple drawing/painting program
 Pinta is a drawing/editing program modeled on Paint.NET. Its goal is to
 provide a simplified alternative to the GIMP for casual users.
 .
 Features include:
  - Adjustments (Auto level, Black and White, Sepia, …)
  - Effects (Motion blur, Glow, Warp, …)
  - Multiple layers
  - Unlimited undo/redo
  - Drawing tools (Paintbrush, Pencil, Shapes, …)
