Source: pinta
Section: graphics
Priority: optional
Maintainer: Cameron White <cameronwhite91@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
               cli-common-dev (>= 0.5.7~), autotools-dev, gettext, intltool, nunit-console
Build-Depends-Indep: intltool,
                     libgtk3.0-cil-dev,
                     libglade3.0-cil-dev,
Standards-Version: 3.9.3
Homepage: http://pinta-project.com/
Vcs-Git: git://github.com/PintaProject/Pinta.git
Vcs-Browser: https://github.com/PintaProject/Pinta

Package: pinta
Architecture: all
Depends: ${shlibs:Depends}, ${cli:Depends}, ${misc:Depends}, gnome-icon-theme,
Description: Simple drawing/painting program
 Pinta is an easy to use drawing/editing program. Its goal is to
 provide a simplified experience for casual users.
 .
 Features include:
  - Adjustments (Auto level, Black and White, Sepia, …)
  - Effects (Motion blur, Glow, Warp, …)
  - Multiple layers
  - Unlimited undo/redo
  - Drawing tools (Paintbrush, Pencil, Shapes, …)
