<?xml version="1.0" encoding="UTF-8"?>
<?include common.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="$(var.ProductShortName) $(var.ProductVersionText)" Version="$(var.ProductVersion)"
          Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" IconSourceFile="Bitmaps/Pinta.ico">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="license.rtf" LogoFile="Bitmaps/logo.bmp"/>
    </BootstrapperApplicationRef>

    <util:RegistrySearch Variable="GTKSHARPVERSION" Id="gsversion" Root="HKLM" Key="SOFTWARE\Xamarin\GtkSharp\Version" Result="value" Format="raw" />

    <!-- Check for the VS2013 redistributable. -->
    <util:RegistrySearch Variable="VC2013_INSTALLED" Root="HKLM" Key="SOFTWARE\Wow6432Node\Microsoft\VisualStudio\12.0\VC\Runtimes\x86" Value="Installed" Result="exists" />

    <Variable Name="InstallFolder" Type="string" Value="[ProgramFilesFolder]Pinta" />

    <!-- Allows Pinta to be launched after installation completes. -->
    <Variable Name="LaunchTarget" Value="[InstallFolder]\Pinta.exe"/>

    <Chain>
      <!-- VS2013 x86 redistributable is needed by GTK#. -->
      <ExePackage Id="vcredist"
          DisplayName="Microsoft Visual C++ 2013 Redistributable (x86)"
          Cache="no"
          Compressed="no"
          PerMachine="yes"
          Permanent="yes"
          Vital="yes"
          SourceFile="vcredist_x86.exe"
          DownloadUrl="https://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x86.exe"
          InstallCondition="1"
          InstallCommand="/install /quiet /norestart"
          DetectCondition="VC2013_INSTALLED">
      </ExePackage>
      <!-- Ensure .Net 4.5 is installed. -->
      <PackageGroupRef Id="NetFx452Redist"/>
      <!-- Ensure GTK# is installed, or download it if necessary. -->
      <!-- Wix needs a local copy of the msi when building, but setting Compressed to No ensures that it's not bundled with the installer. -->
      <!-- Set Permanent=Yes to prevent GTK# from being uninstalled when Pinta is uninstalled. -->
      <MsiPackage Id="GtkSharpSetup" SourceFile="gtk-sharp-2.12.45.msi" Compressed="no" ForcePerMachine="yes" Visible="yes" Vital="yes" Cache="yes"
                  InstallCondition="NOT(GTKSHARPVERSION &gt;= &quot;2.12.45&quot;)" Permanent="yes" DisplayInternalUI="yes"
                  DownloadUrl="https://xamarin.azureedge.net/GTKforWindows/Windows/gtk-sharp-2.12.45.msi" />
      <!-- Install the Pinta msi. -->
      <MsiPackage SourceFile="$(var.PintaWix.TargetPath)" Id="PintaSetup" Vital="yes" ForcePerMachine="yes">
        <MsiProperty Name="INSTALLLOCATION" Value="[InstallFolder]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
