<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <!-- https://docs.microsoft.com/en-us/dotnet/core/install/macos-notarization-issues#default-entitlements -->
    <key>com.apple.security.cs.allow-jit</key>
      <true/>
    <key>com.apple.security.cs.allow-unsigned-executable-memory</key>
      <true/>
    <key>com.apple.security.cs.allow-dyld-environment-variables</key>
      <true/>
    <key>com.apple.security.cs.disable-library-validation</key>
      <true/>

    <!-- Enable sandboxing and whitelist launchservicesd which is required by GTK. -->
    <key>com.apple.security.app-sandbox</key>
      <true/>
    <!-- Whitelist launchservicesd which is required by GTK. -->
    <key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
  	<array>
  		<string>com.apple.coreservices.launchservicesd</string>
  	</array>
    <!-- Allow read/write for user-selected files and standard folders. -->
    <key>com.apple.security.files.user-selected.read-write</key>
      <true/>
    <key>com.apple.security.assets.pictures.read-write</key>
      <true/>
    <key>com.apple.security.files.downloads.read-write</key>
      <true/>
  </dict>
</plist>
